:root {
  --bg: rgb(32, 31, 31);
  --bg-complement: rgb(75, 112, 89);
  --text-secondary: hsl(66, 48%, 78%);
  --text: white;
}

* {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  color: var(--text);
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg);
}

header {
  background-color: var(--bg-complement);
  padding: 10px;
  margin: 50px 0 100px 0;
}

li {
  margin-bottom: 15px;
}

a {
  color: var(--text);
  font-weight: bolder;
}

a:hover {
  color: var(--text-secondary);
}

ul {
  list-style-type: none;
}

.title {
  margin-top: 2em;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container h3 {
  color: var(--text-secondary);
  border-bottom: 1px solid var(--text-secondary);
}

.footer-container {
  background-color: var(--bg-complement);
  padding: 1em;
  margin-top: 1em;
}
