:root {
  --bg: rgb(32, 31, 31);
  --bg-complement: rgb(163, 126, 132);
  --text-secondary: hsl(207, 48%, 78%);
  --text: white;
}

* {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-align: center;
  color: var(--text);
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg);
}

nav {
  background-color: var(--bg-complement);
  padding: 10px;
  margin: 50px 0 100px 0;
}

li {
  margin-bottom: 15px;
}

a {
  color: var(--text);
  font-weight: bolder;
}

a:hover {
  color: var(--text-secondary);
}

ul {
  list-style-type: none;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 20px;
  width: 300px;
  margin-bottom: 15px;
  border: 2px solid var(--bg-complement);
}

.title {
  margin-top: 2em;
}

.footer-container {
  background-color: var(--bg-complement);
  padding: 1em;
  margin-top: 1em;
}
